body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0px auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.content {
    flex: 1 1 auto;
}

.hi {
    background-color: #445162;
}
.hi__row {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    align-items: center;
}
.hi__body {
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #fff;
    padding-right: 30px;
}
.hi__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 38px;
}
.hi__list {
    font-size: 20px;
}
.hi__list li {
    background: url('../img/icons/icon.png') 0 1px no-repeat;
    padding: 0px 0px 0px 36px;
    margin-bottom: 15px;
    line-height: 22px;
}
.hi__list li:last-child {
    margin-bottom: 0;
}
.hi__image {
    padding-left: 15px;
}

.title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.what {
    padding: 50px 15px 50px 15px;
}
.what__row {
    display: flex;
}
.what__image {
    flex: 0 0 430px;
}
.what__image img {
    max-width: 100%;
}
.what__body {
    flex: 1 1 auto;
    padding-left: 38px;
}
.what__title {
    margin-bottom: 33px;
}
.what__text {
}
.what__text p {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.footer {
    background-color: #f5f5f5;
}
.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}

.columns {
    background-color: #f5f5f5;
    padding: 50px 15px 20px 15px;
}
.container {
}
.column__title {
    text-align: center;
    margin-bottom: 30px;
}
.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}
.columns__column {
    padding: 0px 8px;
    flex: 0 1 50%;
    margin-bottom: 30px;
}
.item__row {
    display: flex;
}
.item__image {
    flex: 0 0 200px;
}
.item__body {
    flex: 1 1 auto;
    padding-left: 15px;
}
.item__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 13px;
}
.item__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.vertical {
    padding: 50px 15px;
}
.vertical__title {
    text-align: center;
    margin-bottom: 30px;
}
.vertical__body {
    max-width: 990px;
    margin: 0 auto;
}
.vertical__row {
    display: flex;
}
.vertical__column {
    flex: 0 1 33.333%;
}
.vertical__item {
    background-color: #445162;
    width: 300px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0px 4px 20px 4px;
    border-radius: 7px;
}
.vertical__subtitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
.vertical__label {
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    text-transform: uppercase;
}
.vertical__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    flex: 1 1 auto;
    padding: 20px 20px;
}
.vertical__btn {
    width: 260px;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border-radius: 5px;
    
}
.vertical__btn:hover {
    cursor: pointer;
}
.vertical__btn a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-decoration: none;
    text-transform: lowercase;
}